In [2]:
import numpy as py
from IPython.display import display
import pandas as pd

In [3]:
df = pd.read_csv("sport_athletes.csv")

In [4]:
df

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016

### Question 1

In [24]:
results = df.copy()
results = results.groupby("Sport Type").agg({'Weight(kg)' : 'min', 'Height(cm)' : 'max', 'Wins' : 'max'})
results.rename(columns = {'Weight(kg)' : 'min_Weight(kg)', 'Height(cm)' : 'Max_Height(cm)', 'Wins' : 'Max_Wins'}, inplace = True)
display(results)

                 min_Weight(kg)  Max_Height(cm)  Max_Wins
Sport Type
Basketball                   96             216         3
Cycling                      68             186         5
Gymnastics                   45             160         5
Soccer                       57             187         3
Swimming                     58             200         5
Tennis                       70             188         4
Track and Field              57             195         6

### Question 2

In [36]:
tallest2 = df.groupby('Sport Type')['Height(cm)'].nlargest(2).reset_index()
display(tallest2)

         Sport Type  level_1  Height(cm)
0        Basketball        4         216
1        Basketball        3         208
2           Cycling       28         186
3           Cycling       27         184
4        Gymnastics       33         160
5        Gymnastics       34         157
6            Soccer        7         187
7            Soccer        9         185
8          Swimming       15         200
9          Swimming       14         196
10           Tennis       19         188
11           Tennis       16         185
12  Track and Field       20         195
13  Track and Field       21         188

### Question 3

In [43]:
grouped = df.groupby(["Country", "Sport Type"]).max()
display(grouped)

                                     Athlete Name  Height(cm)  Weight(kg)  \
Country     Sport Type
Argentina   Soccer                   Lionel Messi         170          69
Australia   Swimming                   Ian Thorpe         196          85
Belgium     Cycling                   Eddy Merckx         181          72
Brazil      Soccer                           Pel√©         174          72
China       Swimming                     Sun Yang         200          90
France      Soccer                Zinedine Zidane         185          80
Jamaica     Track and Field            Usain Bolt         195          94
Netherlands Cycling          Anna van der Breggen         175          68
Portugal    Soccer              Cristiano Ronaldo         187          83
Romania     Gymnastics             Nadia Comaneci         155          50
Serbia      Tennis                 Novak Djokovic         188          84
Slovenia    Cycling                 Tadej Pogacar         186          69
Spain       Tennis                   Rafael Nadal         185          85
Switzerland Tennis                  Roger Federer         185          85
UK          Cycling                Geraint Thomas         183          71
            Track and Field              Mo Farah         176          65
USA         Basketball           Shaquille O'Neal         216         147
            Gymnastics               Simone Biles         160          52
            Soccer                  Megan Rapinoe         168          62
            Swimming               Michael Phelps         193          88
            Tennis                Serena Williams         175          70
            Track and Field     Florence Griffith         188          81

                             Wins Olympic Date
Country     Sport Type
Argentina   Soccer              2   11/08/2016
Australia   Swimming            4   11/08/2000
Belgium     Cycling             5   15/08/1980
Brazil      Soccer              3   18/08/1970
China       Swimming            3   08/08/2012
France      Soccer              3   17/08/1998
Jamaica     Track and Field     6   22/08/2012
Netherlands Cycling             4   10/08/2020
Portugal    Soccer              2   25/08/2008
Romania     Gymnastics          5   18/08/1976
Serbia      Tennis              4   10/08/2020
Slovenia    Cycling             3   11/08/2020
Spain       Tennis              3   05/08/2016
Switzerland Tennis              2   28/07/2008
UK          Cycling             4   08/08/2012
            Track and Field     5   05/08/2016
USA         Basketball          3   24/08/2012
            Gymnastics          5   15/08/2008
            Soccer              2   05/08/2020
            Swimming            5   25/08/2012
            Tennis              4   01/08/2012
            Track and Field     4   18/08/1988

In [55]:
basketball_usa = grouped.loc[[("USA", "Basketball")]]
display(basketball_usa)

,,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
Country,Sport Type,,,,,
USA,Basketball,Shaquille O'Neal,216,147,3,24/08/2012

In [59]:
soccer_stats = grouped.xs("Soccer", level = "Sport Type")
display(soccer_stats)

                Athlete Name  Height(cm)  Weight(kg)  Wins Olympic Date
Country
Argentina       Lionel Messi         170          69     2   11/08/2016
Brazil                  Pel√©         174          72     3   18/08/1970
France       Zinedine Zidane         185          80     3   17/08/1998
Portugal   Cristiano Ronaldo         187          83     2   25/08/2008
USA            Megan Rapinoe         168          62     2   05/08/2020

In [63]:
soccer_tennis = grouped[grouped.index.get_level_values("Sport Type").isin(["Soccer", "Tennis"])]
display(soccer_tennis)

                             Athlete Name  Height(cm)  Weight(kg)  Wins  \
Country     Sport Type
Argentina   Soccer           Lionel Messi         170          69     2
Brazil      Soccer                   Pel√©         174          72     3
France      Soccer        Zinedine Zidane         185          80     3
Portugal    Soccer      Cristiano Ronaldo         187          83     2
Serbia      Tennis         Novak Djokovic         188          84     4
Spain       Tennis           Rafael Nadal         185          85     3
Switzerland Tennis          Roger Federer         185          85     2
USA         Soccer          Megan Rapinoe         168          62     2
            Tennis        Serena Williams         175          70     4

                       Olympic Date
Country     Sport Type
Argentina   Soccer       11/08/2016
Brazil      Soccer       18/08/1970
France      Soccer       17/08/1998
Portugal    Soccer       25/08/2008
Serbia      Tennis       10/08/2020
Spain       Tennis       05/08/2016
Switzerland Tennis       28/07/2008
USA         Soccer       05/08/2020
            Tennis       01/08/2012

In [67]:
swapped = grouped.swaplevel().sort_index()
display(swapped)

                                     Athlete Name  Height(cm)  Weight(kg)  \
Sport Type      Country
Basketball      USA              Shaquille O'Neal         216         147
Cycling         Belgium               Eddy Merckx         181          72
                Netherlands  Anna van der Breggen         175          68
                Slovenia            Tadej Pogacar         186          69
                UK                 Geraint Thomas         183          71
Gymnastics      Romania            Nadia Comaneci         155          50
                USA                  Simone Biles         160          52
Soccer          Argentina            Lionel Messi         170          69
                Brazil                       Pel√©         174          72
                France            Zinedine Zidane         185          80
                Portugal        Cristiano Ronaldo         187          83
                USA                 Megan Rapinoe         168          62
Swimming        Australia              Ian Thorpe         196          85
                China                    Sun Yang         200          90
                USA                Michael Phelps         193          88
Tennis          Serbia             Novak Djokovic         188          84
                Spain                Rafael Nadal         185          85
                Switzerland         Roger Federer         185          85
                USA               Serena Williams         175          70
Track and Field Jamaica                Usain Bolt         195          94
                UK                       Mo Farah         176          65
                USA             Florence Griffith         188          81

                             Wins Olympic Date
Sport Type      Country
Basketball      USA             3   24/08/2012
Cycling         Belgium         5   15/08/1980
                Netherlands     4   10/08/2020
                Slovenia        3   11/08/2020
                UK              4   08/08/2012
Gymnastics      Romania         5   18/08/1976
                USA             5   15/08/2008
Soccer          Argentina       2   11/08/2016
                Brazil          3   18/08/1970
                France          3   17/08/1998
                Portugal        2   25/08/2008
                USA             2   05/08/2020
Swimming        Australia       4   11/08/2000
                China           3   08/08/2012
                USA             5   25/08/2012
Tennis          Serbia          4   10/08/2020
                Spain           3   05/08/2016
                Switzerland     2   28/07/2008
                USA             4   01/08/2012
Track and Field Jamaica         6   22/08/2012
                UK              5   05/08/2016
                USA             4   18/08/1988

In [69]:
stats = df[["Wins", "Height(cm)"]].agg(['min', 'max', 'mean', 'std'])
display(stats)

          Wins  Height(cm)
min   1.000000  142.000000
max   6.000000  216.000000
mean  3.388889  181.333333
std   1.102666   16.568473

### Question 4

In [79]:
new_rows = pd.DataFrame({ 'Country': ['Canada', 'USA'], 'Sport Type': ['Hockey', 'Skiing'],
'Athlete Name': ['Wayne Gretzky', 'Lindsey Vonn'], 'Height(cm)': [183, 172],
'Weight(kg)': [84, 68], 'Wins': [3, 4], 'Olympic Date': ['01/02/2002', '12/02/2010'] })
df_updated = pd.concat([df, new_rows], ignore_index=True)
display(df_updated)

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016
36,Canada,Hockey,Wayne Gretzky,183,84,3,01/02/2002
37,USA,Skiing,Lindsey Vonn,172,68,4,12/02/2010

### Question 5

In [83]:
df2 = pd.read_csv("athletes_smoking.csv")

In [87]:
merged_inner = pd.merge(df, df2, on='Athlete Name', how='inner')
display(merged_inner)

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date,Smoking
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992,No
1,USA,Basketball,LeBron James,206,113,2,15/08/2008,No
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012,Yes
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016,No
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000,No
5,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008,No
6,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016,Yes
7,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020,No
8,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000,No
9,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016,No
10,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012,No
11,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984,Yes
12,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016,No

In [89]:
merged_outer = pd.merge(df, df2, on='Athlete Name', how='outer')
display(merged_outer)

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date,Smoking
0,USA,Gymnastics,Aly Raisman,160.0,52.0,3.0,10/08/2012,NaN
1,Netherlands,Cycling,Anna van der Breggen,175.0,68.0,4.0,10/08/2020,NaN
2,USA,Track and Field,Ashton Eaton,185.0,77.0,3.0,08/08/2016,NaN
3,USA,Swimming,Caeleb Dressel,191.0,88.0,3.0,06/08/2016,NaN
4,USA,Track and Field,Carl Lewis,188.0,81.0,4.0,15/08/1984,Yes
5,UK,Cycling,Chris Froome,180.0,70.0,4.0,08/08/2012,NaN
6,Portugal,Soccer,Cristiano Ronaldo,187.0,83.0,2.0,25/08/2008,No
7,Belgium,Cycling,Eddy Merckx,181.0,72.0,5.0,15/08/1980,NaN
8,USA,Track and Field,Florence Griffith,165.0,57.0,4.0,18/08/1988,NaN
9,USA,Gymnastics,Gabby Douglas,150.0,45.0,3.0,11/08/2016,NaN
10,UK,Cycling,Geraint Thomas,183.0,71.0,4.0,08/08/2008,NaN
11,Australia,Swimming,Ian Thorpe,196.0,85.0,4.0,11/08/2000,No
12,USA,Swimming,Katie Ledecky,180.0,58.0,4.0,25/08/2012,NaN
13,USA,Basketball,Kevin Durant,208.0,109.0,3.0,10/08/2016,No
14,USA,Basketball,Kobe Bryant,198.0,96.0,2.0,24/08/2012,Yes
15,USA,Basketball,LeBron James,206.0,113.0,2.0,15/08/2008,No
16,NaN,NaN,Lindsey Vonn,NaN,NaN,NaN,NaN,No
17,Argentina,Soccer,Lionel Messi,170.0,69.0,2.0,11/08/2016,Yes
18,Brazil,Soccer,Marta,163.0,57.0,3.0,01/08/2004,NaN
19,USA,Soccer,Megan Rapinoe,168.0,62.0,2.0,05/08/2020,No
20,USA,Basketball,Michael Jordan,198.0,98.0,3.0,08/08/1992,No
21,USA,Swimming,Michael Phelps,193.0,88.0,5.0,16/08/2004,NaN
22,UK,Track and Field,Mo Farah,176.0,65.0,5.0,05/08/2016,NaN
23,Romania,Gymnastics,Nadia Comaneci,155.0,50.0,5.0,18/08/1976,NaN
24,Serbia,Tennis,Novak Djokovic,188.0,84.0,4.0,10/08/2020,NaN
25,Brazil,Soccer,Pel√©,174.0,72.0,3.0,18/08/1970,NaN
26,Slovenia,Cycling,Primoz Roglic,186.0,68.0,3.0,05/08/2016,NaN
27,Spain,Tennis,Rafael Nadal,185.0,85.0,3.0,05/08/2016,No
28,Switzerland,Tennis,Roger Federer,185.0,85.0,2.0,28/07/2008,NaN
29,USA,Tennis,Serena Williams,175.0,70.0,4.0,01/08/2012,NaN
30,USA,Basketball,Shaquille O'Neal,216.0,147.0,1.0,22/08/2000,No
31,USA,Gymnastics,Shawn Johnson,157.0,50.0,3.0,15/08/2008,NaN
32,USA,Gymnastics,Simone Biles,142.0,48.0,5.0,05/08/2016,No
33,China,Swimming,Sun Yang,200.0,90.0,3.0,08/08/2012,NaN
34,Slovenia,Cycling,Tadej Pogacar,184.0,69.0,3.0,11/08/2020,NaN
35,Jamaica,Track and Field,Usain Bolt,195.0,94.0,6.0,22/08/2012,No
36,NaN,NaN,Wayne Gretzky,NaN,NaN,NaN,NaN,Yes
37,France,Soccer,Zinedine Zidane,185.0,80.0,3.0,17/08/1998,NaN